<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679337389065-ms2aumd1ua7h6k0r8kvotn9get365rg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679337389065-ms2aumd1ua7h6k0r8kvotn9get365rg0</string>
	<key>API_KEY</key>
	<string>AIzaSyCsh-e_3Q5BLok89mqgrXtuRhsP-lpnnds</string>
	<key>GCM_SENDER_ID</key>
	<string>679337389065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikeyroush.peer-produce</string>
	<key>PROJECT_ID</key>
	<string>peer-produce</string>
	<key>STORAGE_BUCKET</key>
	<string>peer-produce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679337389065:ios:fb41ea564dee4155451cd8</string>
	<key>DATABASE_URL</key>
	<string>https://peer-produce.firebaseio.com</string>
</dict>
</plist>